.hello {
  position: relative;
  padding-block: 150px;
  overflow-x: hidden;

  &::before,
  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 267px;
    height: 264px;
    background: url("../../assets/images/mobile-bg.svg") center / 100% 100%
      no-repeat;
  }

  &::before {
    left: -35%;
    top: 25%;
  }

  &::after {
    right: -44%;
    bottom: 20%;
  }

  &__slide {
    padding: 7px 12px;
    border-radius: 30px;
    border: 1px solid;
    font-weight: 500;
    font-size: 16px;
    text-transform: lowercase;
    color: var(--textColorDarkAccent);
  }

  &__1 {
    background-color: #ebf48d;
  }

  &__2 {
    background-color: #f79bca;
  }

  &__3 {
    background-color: #6efefe;
  }

  &__4 {
    background-color: #99efc3;
  }

  &__5 {
    background-color: #8bb9f9;
  }

  &__6 {
    background-color: #c791fa;
  }

  &__info {
    padding-top: 25px;
    font-size: 26px;
    line-height: 110%;
  }

  &__name {
    display: inline-block;
    position: relative;
    text-shadow: 0px 0 var(--textColorMainShadow);
    letter-spacing: 0.1em;
    animation: shake 0.6s infinite alternate;
  }

  &__scroll {
    padding-top: 40px;
    display: inline-block;
    text-align: center;
    border-bottom: 2px solid var(--textColorAccent);
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    color: var(--textColorAccent);

    transition: transform 0.3s ease;
  }

  &__scroll:active {
    transform: scale(0.95);
  }

  @media (min-width: 768px) {
    &__info {
      font-size: 42px;
    }
  }

  @media (min-width: 990px) {
    &__slider {
      max-width: 768px;
      margin: 0 auto;
    }

    &__scroll:hover {
      transform: scale(0.95);
    }
  }

  @media (min-width: 1440px) {
    &__info {
      font-size: 56px;
    }
  }
}

@keyframes shake {
  0% {
    top: 0;
    text-shadow: 1px 1px var(--textColorMainShadow);
  }

  1% {
    top: 1px;
    text-shadow: -5px 2px var(--textColorMainShadow);
  }

  10% {
    top: 0px;
  }

  20% {
    top: 1px;
  }

  40% {
    top: 0px;
    text-shadow: 0 0 var(--textColorSecondaryShadow);
  }

  50% {
    top: 1px;
    left: -1px;
    text-shadow: 4px 2px var(--textColorSecondaryShadow);
  }

  70% {
    top: 0px;
    left: 0px;
  }

  90% {
    top: 1px;
  }

  100% {
    top: 0;
    text-shadow: 1px 1px var(--textColorMainShadow);
  }
}

