.hello {
  padding-top: 150px;
  padding-bottom: 50px;
  position: relative;

  &::before,
  &::after {
    content: '';
    border-radius: 35% 48% 109% 47%;
    position: absolute;
    display: block;
    width: 267px;
    height: 264px;
    background: linear-gradient(
      180deg,
      rgba(3, 255, 224, 1),
      rgba(5, 165, 255, 1)
    );
    filter: blur(70px) opacity(50%);
  }

  &::before {
    left: -56%;
    top: 14%;
  }

  &::after {
    right: -60%;
    bottom: 0%;
  }

  &__slide {
    padding: 7px 12px;
    border-radius: 30px;
    border: 1px solid;
    font-weight: 500;
    font-size: 16px;
    text-transform: lowercase;
    color: var(--textColorDarkAccent);
  }

  &__1 {
    background-color: #edfffc;
  }

  &__2 {
    background-color: #c0fff8;
  }

  &__3 {
    background-color: #6efefe;
  }

  &__4 {
    background-color: #00e2c8;
  }

  &__5 {
    background-color: #3affee;
  }

  &__6 {
    background-color: #81fff3;
  }

  &__info {
    padding-top: 40px;
    position: relative;
    font-size: 26px;
    line-height: 110%;
  }

  &__name {
    display: inline-block;
    position: relative;
    letter-spacing: 0.1em;
    animation: move 3s infinite;
    transition: transform 0.3s ease;
  }

  &__in {
    width: 20px;
    height: 20px;
  }

  &__scroll:active {
    transform: scale(0.95);
  }

  @media (min-width: 425px) {
    &::before {
      left: -45%;
    }

    &::after {
      right: -45%;
    }
  }

  @media (min-width: 768px) {
    &::before,
    &::after {
      width: 691px;
      height: 530px;
    }

    &::before {
      left: -50%;
      top: -10%;
    }

    &::after {
      right: -60%;
      top: 70%;
    }

    &__info {
      font-size: 42px;
    }
  }

  @media (min-width: 990px) {
    padding-top: 200px;
    padding-bottom: 70px;

    &::before {
      left: -35%;
    }

    &::after {
      right: -50%;
    }

    &__slider {
      max-width: 768px;
      margin: 0 auto;
    }

    &__scroll:hover {
      transform: scale(0.95);
    }

    &__name:hover {
      transform: scale(0.95);
    }

    &__in {
      width: 50px;
      height: 50px;
    }
  }

  @media (min-width: 1440px) {
    padding-top: 270px;
    padding-bottom: 70px;

    &::before {
      left: -25%;
    }

    &::after {
      right: -30%;
    }

    &__info {
      font-size: 56px;
    }
  }

  @media (min-width: 2000px) {
    &::before {
      left: -5%;
    }

    &::after {
      right: -10%;
      top: 40%;
    }
  }
}

@keyframes move {
  0% {
    left: 0;
  }

  15% {
    left: -5px;
  }

  35% {
    top: 0;
    left: 0;
  }

  100% {
    top: 0;
    left: 0;
  }
}
