.menu {
  padding: 100px 0 20px;
  width: 100%;
  font-size: 16px;
  line-height: 125%;
  background-color: var(--backgroundColorAccent);
  border-radius: 0 0 20px 20px;

  &__layout {
    width: 100%;
    height: 100vh;
    position: absolute;
  }

  &__wrapper {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 20;

    transition: left 0.3s ease;
  }

  &__li {
    position: relative;
    padding-inline: 20px;
  }

  &__link {
    padding-block: 22px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #f5fffe66;

    transition: background-color 0.3s ease;
  }

  &__li::before {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    inset: 0 0 0 0;
    background: var(--textColorAccent);
    opacity: 0.4;
    z-index: -1;
    transition: transform 0.3s ease;
    transform: scaleX(0);
    transform-origin: bottom right;
  }

  &__li:active::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  @media (min-width: 768px) {
    display: none;

    &__wrapper {
      display: none;
    }
  }
}
