.contact {
  border: 1px solid var(--borderColorLight);
  border-radius: 20px;
  padding: 20px;
  font-size: 18px;

  &__link {
    display: flex;
    flex-direction: column;
    justify-content: start;

    p {
      padding-top: 25px;
      display: flex;
      justify-content: space-between;
      gap: 12px;
    }
  }

  &__arrow {
    fill: var(--textColorAccent);
  }

  &__icon {}

  @media (min-width: 425px) {
    font-size: 22px;
  }

  @media (min-width: 990px) {
    flex: 25%;

    &__link {
      p {
        padding-top: 50px;
      }
    }
  }
}
