.contact {
  border: 1px solid var(--borderColorLight);
  border-radius: 20px;
  padding: 20px;
  font-size: 18px;
  background-color: var(--backgroundColorSecondary);
  box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.489);

  transition: transform 0.3s ease;

  &:active {
    transform: scale(0.95);
  }

  &__link {
    display: flex;
    flex-direction: column;
    justify-content: start;

    p {
      padding-top: 25px;
      display: flex;
      justify-content: space-between;
      gap: 12px;
    }
  }

  &__arrow {
    fill: var(--textColorAccent);
  }

  @media (min-width: 425px) {
    font-size: 22px;
  }

  @media (min-width: 990px) {
    flex: 25%;

    &:hover {
      transform: scale(0.95);
    }

    &__link {
      p {
        padding-top: 50px;
      }
    }
  }
}
