.project {
  padding-block: 20px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  &__wrapper {
    position: relative;
    opacity: 1;
    filter: grayscale(1) sepia(0.4) saturate(0.5) contrast(0.6) brightness(0.8);
    z-index: 19;
    top: auto;

    transition: opacity 0.2s ease, filter 0.3s ease, transform 0.3s ease;
  }

  &__image {
    max-width: 80%;
    border-radius: 20px;
  }

  &__title {
    line-height: 105%;
    display: inline-block;
    font-size: 18px;
    background: linear-gradient(90deg, var(--textColorMain) 0%, var(--textColorAccent) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__description {
    line-height: 100%;
    padding-inline: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    background-color: var(--backgroundColorSecondary);
    pointer-events: none;
    position: fixed;
    opacity: 0;
    inset: 0;

    transition: all 0.5s ease;
  }

  &__back {
    margin-bottom: 25px;
    fill: #F5FFFE;
    transition: fill 0.3s ease;
  }

  &__icon,
  &__back:active {
    fill: var(--textColorAccent);
  }

  &__buttons {
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
  }

  &__button {
    border-bottom: 2px solid var(--textColorAccent);
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    color: var(--textColorAccent);

    transition: transform 0.3s ease;

    &:active {
      transform: scale(0.95);
    }
  }

  &__current {
    padding: 20px 20px 30px;
    pointer-events: auto;
    opacity: 1;
    z-index: 20;
  }

  &__active {
    opacity: 0;
    pointer-events: none;
    filter: grayscale(0) sepia(0) saturate(1) contrast(1) brightness(1);
  }

  &__visible {
    position: fixed;
    top: 210px;
    z-index: 21;
    opacity: 1;
  }

  @media (min-width: 768px) {
    &__visible {
      transform: scale(0.7);
      top: 120px;
    }

    &__title {
      font-size: 24px;
    }

    &__description {
      font-size: 22px;
    }
  }

  @media (min-width: 990px) {
    flex: 45%;

    &__wrapper:hover {
      filter: grayscale(0) sepia(0) saturate(1) contrast(1) brightness(1);
      transform: scale(1.05);
      cursor: pointer;
    }

    &__visible {
      top: 60px;
      left: 1%;
      transform: scale(0.5);
    }

    &__buttons {
      margin: 0 auto;
      max-width: 768px;
    }

    &__title {
      font-size: 28px;
    }

    &__description {
      font-size: 26px;
    }

    &__button:hover {
      transform: scale(0.95);
    }
  }

  @media (min-width: 1440px) {
    &__visible {
      transform: scale(0.5);
    }
  }

}
