.project {
  position: relative;
  padding-block: 20px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  &__wrapper {
    border-radius: 20px;
    opacity: 1;
    filter: grayscale(1) sepia(0.4) saturate(0.5) contrast(0.6) brightness(0.8);

    transition:
      opacity 0.3s ease,
      filter 0.3s ease,
      z-index 0.3s ease,
      transform 0.3s ease;
  }

  &__image {
    max-width: 80%;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.489);
  }

  &__title {
    line-height: 105%;
    display: inline-block;
    font-size: 18px;
    background: linear-gradient(
      90deg,
      var(--textColorMain) 0%,
      var(--textColorAccent) 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__description {
    padding-inline: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    background-color: var(--backgroundColorSecondary);
    pointer-events: none;
    position: fixed;
    opacity: 0;
    left: 0;
    right: 0;
    top: -100%;

    transition: all 0.5s ease;
  }

  &__back {
    margin-bottom: 25px;
    width: 25px;
    fill: #f5fffe;
    transition: fill 0.3s ease;
  }

  &__icon,
  &__back:active {
    fill: var(--textColorAccent);
  }

  &__buttons {
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
  }

  &__button {
    border-bottom: 2px solid var(--textColorAccent);
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    color: var(--textColorAccent);

    transition: transform 0.3s ease;

    &:active {
      transform: scale(0.95);
    }
  }

  &__current {
    padding: 20px 20px 30px;
    pointer-events: auto;
    opacity: 1;
    z-index: 22;
    top: 0;
    bottom: 0;
  }

  &__img {
    max-width: 100%;
    max-height: 50vh;
    border-radius: 20px;
  }

  &__link {
    margin: 0 auto;
    max-width: 80%;
    max-height: 50vh;
  }

  &__index {
    position: static;
  }

  @media (min-width: 768px) {
    &__link {
      max-width: 80%;
      max-height: 50vh;
    }

    &__title {
      font-size: 20px;
    }

    &__description {
      font-size: 18px;
    }
  }

  @media (min-width: 990px) {
    &__link {
      margin-left: 50px;
    }

    &__wrapper:hover {
      filter: grayscale(0) sepia(0) saturate(1) contrast(1) brightness(1);
      transform: scale(0.95);
    }

    &__image:hover {
      cursor: pointer;
    }

    &__description {
      font-size: 18px;
    }

    &__info {
      max-width: 800px;
    }

    &__button:hover {
      transform: scale(0.95);
    }
  }
}
