html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: var(--fontFamilyMain);
  line-height: 130%;
  font-weight: 400;
  font-size: 18px;
  background-color: var(--backgroundColorMain);
  overflow-x: hidden;
}

#root {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: var(--backgroundColorMain);
  color: var(--textColorMain);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.container {
  padding-inline: 5px;

  @media (min-width: 425px) {
    padding-inline: 20px;
  }

  @media (min-width: 768px) {
    padding-inline: 50px;
  }
}

.menu-active {
  left: 0;
}

.swiper-wrapper {
  align-items: center;
}

.noscroll {
  overflow: hidden;
  height: 100%;
}
