:root {
  // fonts
  --fontFamilyMain: "Lato", sans-serif;
  --fontFamilSsecond: "IBM Plex Sans Condensed", sans-serif;
  --fontFamilyThird: "Inter", sans-serif;
  --fontFamilyFourth: "Noto Sans", sans-serif;

  // colors
  --textColorMain: #f5fffe;
  --textColorAccent: #00e2c8;
  --textColorDarkAccent: #003a39;
  --textColorNeutral: #acb4b4;
  --textColorDarkNeutral: #939b9c;

  --backgroundColorMain: #010509;
  --backgroundColorAccent: #00726a;
  --backgroundColorSecondary: #161818;
  --backgroundColor-plashka1: #edfffc;
  --backgroundColor-plashka2: #c0fff8;
  --backgroundColor-plashka3: #81fff3;
  --backgroundColor-plashka4: #3affee;
  --backgroundColor-plashka5: #03ffe0;
  --backgroundColor-plashka6: #00e2c8;

  --borderColorLight: #575a5c;
  --borderColorDark: #2b3035;
  --borderColorAccent: #62aaa5;

  --iconColorAccent: #00e2c8;
  --iconColor: #f5fffe;
}
