:root {
  --fontFamilyMain: 'Lato', sans-serif;

  --textColorMain: #f5fffe;
  --textColorMainShadow: #f5fffe67;
  --textColorSecondaryShadow: #f5fffe88;
  --textColorAccent: #e04dfa;
  --textColorDarkAccent: #3a0033;
  --textColorNeutral: #acb4b4;
  --textColorDarkNeutral: #939b9c;

  --backgroundColorMain: #010509;
  --backgroundColorAccent: #de31d6;
  --backgroundColorSecondary: #161818;

  --backgroundColor-plashka1: #f7b7fa;
  --backgroundColor-plashka2: #ed8def;
  --backgroundColor-plashka3: #f173e4;
  --backgroundColor-plashka4: #e65ed4;
  --backgroundColor-plashka5: #f614eb;
  --backgroundColor-plashka6: #e04dfa;

  --borderColorLight: #575a5c;
  --borderColorDark: #2b3035;
  --borderColorAccent: #e449df;

  --iconColorAccent: #e757ea;
  --iconColor: #d547cb;
}
