.contacts {
  padding-bottom: 100px;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  @media (min-width: 768px) {
    &__list {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}
