.contacts {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    display: block;
    left: -210%;
    top: 25%;
    width: 881px;
    height: 415px;
    border-radius: 35% 48% 109% 47%;
    background: linear-gradient(
      180deg,
      rgba(3, 255, 224, 1),
      rgba(5, 165, 255, 1)
    );
    filter: blur(70px) opacity(50%);
  }

  &__list {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 12px;
    z-index: 2;
  }

  @media (min-width: 425px) {
    &::before {
      left: -150%;
      top: 25%;
    }
  }

  @media (min-width: 768px) {
    &::before {
      left: -100%;
      top: 25%;
    }

    &__list {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  @media (min-width: 768px) {
    &::before {
      left: -35%;
      top: 0;
    }
  }

  @media (min-width: 990px) {
    &::before {
      left: -30%;
      top: 0;
    }
  }

  @media (min-width: 1440px) {
    &::before {
      left: -3%;
      top: 0;
    }
  }

  @media (min-width: 2000px) {
    &::before {
      left: -3%;
      top: 0;
    }
  }
}
